[Desktop Entry]
Type=Application

# If the script does not run on startup, try
#   specifying the absolute path.
#   /home/USERNAME/.mute-all.sh
Exec=~/.mute-all.sh

Icon=audio-volume-muted-symbolic.symbolic
Hidden=false
NoDisplay=false
Name=Mute All
Terminal=false
Comment=Mutes the output volume of all PA sinks on login.
OnlyShowIn=GNOME;LXDE;Unity;
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-delay=0
